.title {
  font-size: 40px;
  padding: 10px;
  background: linear-gradient(90deg, #9600fb 0%, #00ffd0 100%);
  /* background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
