.wrapReg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(+50%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px grey;
  font-size: 20px;
  /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
  background: inherit;
}

.formReg {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  box-shadow: 2px 2px 2px 2px grey;
}

.inputReg {
  max-width: 300px;
  padding: 10px 8px;
  font-size: large;
  border: none;
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 5px;
  &:active {
    box-shadow: 3px 3px 3px 3px grey;
  }
}
