.wrapLogin {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(50%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.5 ease;
  box-shadow: 3px 3px 3px 3px grey;
}

.formLogin {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.inputLogin {
  max-width: 300px;
  padding: 10px 8px;
  font-size: large;
  border: none;
  border-radius: 5px;
  background-color: inherit;
  box-shadow: 2px 2px 2px 2px grey;
  transition: 0.5 ease;
  &:active {
    box-shadow: 3px 3px 3px 3px grey;
  }
  &:hover {
    box-shadow: 3px 3px 3px 3px grey;
  }
}
