.wrapSearch {
  padding: 10px;
  max-width: 280px;
  width: 100%;
  font-size: inherit;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: inherit;
}
.input {
  width: 100%;
  padding: 5px 10px;
  max-width: inherit;
  font-size: inherit;
  background-color: inherit;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
}
