.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  /* background-color: teal; */
  /* color: white; */
  color: black;
  background-color: inherit;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid black;
  box-shadow: 4px 4px 4px 4px grey;
}
.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  /* li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 8px 10px;
      border-radius: 4px;
      border: none;
      font: inherit;
      font-weight: 700;
      cursor: pointer;
      transition: 0.5s ease;
      background-color: inherit;
      color: inherit;
      &:hover {
        color: black;
        background-color: white;
      }
      text-decoration: none;
    } */
  /* } */
}

.item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  font: inherit;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  box-shadow: 2px 2px 2px 2px grey;
  transition: 0.5s ease;

  &:hover {
    box-shadow: 3px 3px 3px 3px grey;
  }
  &:active {
    box-shadow: 1px 1px 1px 1px grey;
  }
}

.name {
  margin-left: auto;
  margin-right: 0;
  padding: 10px;
}
