.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  /* background-color: teal; */
  /* color: white; */
  color: black;
  background-color: inherit;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  /* li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 8px 10px;
      border-radius: 4px;
      border: none;
      font: inherit;
      font-weight: 700;
      cursor: pointer;
      transition: 0.5s ease;
      background-color: inherit;
      color: inherit;
      &:hover {
        color: black;
        background-color: white;
      }
      text-decoration: none;
    } */
  /* } */
}

/* .link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  font: inherit;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
  text-decoration: none;
  background-color: rgb(0, 128, 128);
  color: white;
  &:hover {
    color: rgb(0, 128, 128);
    background-color: white;
  }
} */

.item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  font: inherit;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s ease;
  background-color: inherit;
  color: inherit;
  &:hover {
    color: black;
    background-color: lightgray;
  }
}

.name {
  margin-left: auto;
  margin-right: 0;
  padding: 10px;
}
