.wrap {
  position: relative;
  display: flex;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 400px;
}
.title {
  padding: 10px;
  font-size: 40px;
  background: linear-gradient(90deg, #9600fb 0%, #00ffd0 100%);
  /* background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.img {
  position: absolute;
  z-index: -2;
  opacity: 0.5;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .text {
    font-size: 20px;
  }
  .title {
    font-size: 30px;
  }
}
