.wrapItem {
  padding: 10px;
  width: 385px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  /* border: 2px solid black; */
  border: none;
  box-shadow: 2px 2px 2px 2px grey;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.text {
  max-width: 250px;
  width: 100%;
  overflow-y: auto;
}

.textBtn {
  font-weight: 600;
}

.btnBox {
  display: flex;
  gap: 10px;
}
