.wrapForm {
  padding: 10px;
  max-width: 616px;
  width: calc(100% - 10px);
  /* min-height: 50vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.form {
  /* width: 40vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: inherit;
  /* box-shadow: 0 0 8px 8px lightgray; */
  border: 2px solid black;
}
.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  & span {
    font-weight: bold;
  }
}
.input {
  width: calc(100% - 22px);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: inherit;
}

.error {
  color: red;
  font-weight: 500;
}
.textBtn {
  font-weight: 600;
}
