.wrap {
  padding: 10px;
  display: flex;
  width: inherit;
}
.contList {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
/* .li {
  width: 307px;
  width: calc(100%-20px) / 3;
} */
.contItem li {
  width: 307px;
}
